.slider__width{
    width: 1272px;
}
.slider__image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 345px;
}
.slick-prev {
    left: 20px !important;
    z-index: 1;
  }
  .slick-next {
    right: 20px !important;
  
  }
  .banner__slider .slick-arrow,
  .banner__slider .slick-arrow:hover,
  .banner__slider .slick-arrow:focus
  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px) !important;
    z-index: 1;
    background-color: #fff;
  }
  .banner__slider .slick-arrow::before{
    color: black;
  }
.banner__slider .slick-dots{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    width: max-content;
    margin: 0 auto;
    border-radius: 50px;
}
.banner__slider .slick-dots li button {
    width: 12px;
    height: 12px;
    background-color: transparent;
    color: transparent;
    border-radius: 50%;
    border: 1px solid #00609C;
    padding: 0;
    margin: 0;
}
.slick-dots li button::before{
    content: "" !important;
}
.banner__slider .slick-dots li.slick-active button{
    background-color: #00609C;
}